/* colors:
 primary: 1a2a39ff
 secondary: dac097ff
 accent 1: fef6dfff
 accent 2: 666666ff
*/

body {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

@font-face{
    font-family: kings;
    src: url("Kings-regular.ttf");
}

header{
    width: 100%;
    height: 475px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 300px 50px;
}

#hero{
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 0;
    width: 100%;
    height: 100%
}

#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
}

#logo img{
    height: 100px;
    width: 100px;
}

header h1{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    color: #fef6dfff;
    font-family: kings;
}

nav{
    grid-column: 1/3;
    grid-row: 3/4;
    background: #dac097ff;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a {
    justify-self: center;
    margin-top: 10px;
    font-family: kings;
    color: #666666ff;
    text-decoration: none;
    font-size: 20pt;
}

#homePage{
    display: grid;
    grid-template-columns: .2fr 1fr 1.5fr .2fr 1fr 1fr 2fr;
    grid-template-rows: .2fr .2fr 1fr 1.5fr .2fr .2fr 2.5fr;
}

#dalinar{
    grid-column: 1/3;
    grid-row: 1/4;
}

#roshar{
    grid-column: 5/7;
    grid-row: 3/6;
}

#urithiru{
    grid-column: 5/8;
}

#introP{
    grid-column: 2/7;
    grid-row: 2/6;
}

#urithiruP{
    grid-column: 5/8;
    grid-row: 7/8;
}


#enemy {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

#odium {
    grid-row: 1;
    grid-column: 1/2;
}

.odium {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top;
}

#about-odium {
    grid-row: 1;
    grid-column: 2/4;
}

#singers {
    grid-row: 2;
    grid-column: 1/2;
}

.singers {
    width: 100%;
}

#about-singers {
    grid-row: 2;
    grid-column: 2/3;
}

#everstorm {
    grid-row: 2;
    grid-column: 3/4;
}

.everstorm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#fused-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 3;
    grid-column: 1/4;
    align-items: center;
    column-gap: 20px;
}

.fused, .fused2, .fused3, .fused4, .fused5 {
    width: 100%;
}


#fused-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}