/* colors:
 primary: 1a2a39ff
 secondary: dac097ff
 accent 1: fef6dfff
 accent 2: 666666ff
*/

body {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background: #1a2a39ff;
}

@font-face{
    font-family: kings;
    src: url("Kings-regular.ttf");
}

@font-face{
    font-family: antiqua;
    src: url("ModernAntiqua-Regular.ttf");
}

header{
    width: 100%;
    height: 475px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 300px 50px;
}

#hero{
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 0;
    width: 100%;
    height: 100%
}

#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
}

#logo img{
    height: 100px;
    width: 100px;
}

header h1{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    color: #fef6dfff;
    font-family: kings;
}

nav{
    grid-column: 1/3;
    grid-row: 3/4;
    background: #dac097ff;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a {
    justify-self: center;
    margin-top: 10px;
    font-family: kings;
    color: #666666ff;
    text-decoration: none;
    font-size: 20pt;
}

#dalinar{
    height: 200px; 
    width: auto;
    float: left;
    margin-top: -15px;
    margin-left: -15px;
}

#roshar{
    grid-column: 1/3;
    grid-row: 1/2;
    height: 250px;
    float: right;    
    margin-top: 30px;
}

#urithiru{
    height: 250px;
    float: left;
}

p{
    font-family: antiqua;
    color: #fef6dfff;
    font-size: 14pt;
}

#urithiruBox{
    height: 250px;
}


#enemy {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

#odium {
    grid-row: 1;
    grid-column: 1/2;
}

.odium {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top;
}

#about-odium {
    grid-row: 1;
    grid-column: 2/4;
}

#singers {
    grid-row: 2;
    grid-column: 1/2;
}

.singers {
    width: 100%;
}

#about-singers {
    grid-row: 2;
    grid-column: 2/3;
}

#everstorm {
    grid-row: 2;
    grid-column: 3/4;
}

.everstorm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#fused-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 3;
    grid-column: 1/4;
    align-items: center;
    column-gap: 20px;
}

.fused, .fused2, .fused3, .fused4, .fused5 {
    width: 100%;
}


#fused-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer{
    margin-top: 10px;
    float: bottom;
    background: #dac097ff;
}

#radiant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}

#windrunnerbox {
    grid-row: 1;
    grid-column: 1;
    border: 5px, solid;
}


#edgedancerbox {
    grid-row: 1;
    grid-column: 2;
    border: 5px, solid;
}

#lightweaverbox {
    grid-row: 1;
    grid-column: 3;
    border: 5px, solid;
}

#skybreakerbox {
    grid-row: 2;
    grid-column: 1;
    border: 5px, solid;
}


#stonewardbox {
    grid-row: 2;
    grid-column: 2;
    border: 5px, solid;
}

#elsecallerbox {
    grid-row: 2;
    grid-column: 3;
    border: 5px, solid;
}


#truthwatcherbox {
    grid-row: 3;
    grid-column: 1;
    border: 5px, solid;
}

#dustbringerbox {
    grid-row: 3;
    grid-column: 2;
    border: 5px, solid;
}

#willshaperbox {
    grid-row: 3;
    grid-column: 3;
    border: 5px, solid;
}